# Descriptive Statistics Assignment

In [1]:
import pandas as pd

data_url = "https://docs.google.com/spreadsheets/d/1w1BfAGjEJk_Ywglo0nWKUk5gKmqEmfFb101IoXtj8D8/export?format=csv"

### Read the Fortune 1000 data (using `data_url`) into a Pandas data frame.

In [2]:
fortune = pd.read_csv(data_url)

### Print the data type for each column.

In [3]:
fortune.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rank                          1000 non-null   int64
 1   title                         1000 non-null   object
 2   Previous Rank                 938 non-null    object
 3   Revenues ($M)                 1000 non-null   object
 4   Revenue Change                1000 non-null   object
 5   Profits ($M)                  1000 non-null   object
 6   Profit Change                 1000 non-null   object
 7   Assets ($M)                   1000 non-null   object
 8   Mkt Value as of 3/29/18 ($M)  1000 non-null   object
 9   Employees                     1000 non-null   object
 10  CEO                           1000 non-null   object
 11  CEO Title                     1000 non-null   object
 12  Sector                        1000 non-null   object
 13  Industry                      1000 non-null   object
 14  Years on Fortune 500 List     1000 non-null   object
 15  City                          999 non-null    object
 16  State                         1000 non-null   object
 17  Latitude                      1000 non-null   float64
 18  Longitude                     1000 non-null   float64
dtypes: float64(2), int64(1), object(16)
memory usage: 148.6+ KB

### Generate a basic set of descriptive statistics for the numeric fields in the data set.

In [4]:
fortune.describe()

              rank     Latitude    Longitude
count  1000.000000  1000.000000  1000.000000
mean    500.499000    38.228050   -90.359700
std     288.818771     4.643421    16.145941
min       1.000000    18.422578  -157.858333
25%     250.750000    35.207699   -96.698886
50%     500.500000    39.693419   -86.583760
75%     750.250000    41.499320   -77.177260
max    1000.000000    47.978985   -66.050955

### Calculate the following for each numeric field in the data set and add them to the data frame containing the basic set of descriptive statistics.

- Variance
- Mean Absolute Deviation
- Range
- Interquartile Range

In [5]:
print(fortune.var())
print(fortune.mad())
fortune_num = fortune[['rank', 'Latitude', 'Longitude']]
fortune_num.max() - fortune_num.min()

rank         83416.282281
Latitude        21.561356
Longitude      260.691395
dtype: float64
rank         249.999000
Latitude       3.735640
Longitude     12.880618
dtype: float64

rank         999.000000
Latitude      29.556407
Longitude     91.807378
dtype: float64

### Generate a basic set of descriptive statistics for the categorical fields in the data set.

In [6]:
categorical = fortune.select_dtypes(include='object')

In [7]:
categorical.head()

                title Previous Rank  ...         City State
0             Walmart             1  ...  Bentonville    AR
1         Exxon Mobil             4  ...       Irving    TX
2  Berkshire Hathaway             2  ...        Omaha    NE
3               Apple             3  ...    Cupertino    CA
4  UnitedHealth Group             6  ...   Minnetonka    MN

[5 rows x 16 columns]

In [8]:
# categorical['Previous Rank'] = categorical['Previous Rank'].str.replace('-', '')

# categorical['Previous Rank'] = pd.to_numeric(categorical['Previous Rank'])

In [9]:
# categorical['Revenues ($M)'] = categorical['Revenues ($M)'].str.replace('$', '')
# categorical['Revenues ($M)'] = categorical['Revenues ($M)'].str.replace(',', '')
# categorical['Revenues ($M)'] = categorical['Revenues ($M)'].str.replace('.', '')
# categorical['Revenues ($M)'] = pd.to_numeric(categorical['Revenues ($M)'])

In [10]:
def col_to_num(string_df):
  for col_name in string_df:
      # string_df.replace(to_replace="\$", value="", regex=True)
      # string_df.replace(to_replace="\,", value="", regex=True)
      # string_df.replace(to_replace="\%", value="", regex=True)
      # string_df.replace(to_replace="\.", value="", regex=True)
      
    
    string_df[col_name] = string_df[col_name].str.replace('$', '')
    string_df[col_name] = string_df[col_name].str.replace(',', '')
    string_df[col_name] = string_df[col_name].str.replace('%', '')
    #string_df[col_name] = string_df[col_name].str.replace('.', '')
    string_df[col_name] = string_df[col_name].str.replace('-', '')

    string_df[col_name] = pd.to_numeric(string_df[col_name])
  return string_df

In [11]:
cat_num = categorical.iloc[:,[1,2,3,4,5,6,7,8,13]]
# cat_num.info()

In [12]:
cat_num = col_to_num(cat_num)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [13]:
# cat_num.info()
#print(cat_num.info())
#fortune.info()

fortune.iloc[:, [2,3,4,5,6,7,8,9,14]] = cat_num

In [14]:
fortune.info()
fortune.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rank                          1000 non-null   int64
 1   title                         1000 non-null   object
 2   Previous Rank                 937 non-null    float64
 3   Revenues ($M)                 1000 non-null   float64
 4   Revenue Change                995 non-null    float64
 5   Profits ($M)                  998 non-null    float64
 6   Profit Change                 844 non-null    float64
 7   Assets ($M)                   1000 non-null   float64
 8   Mkt Value as of 3/29/18 ($M)  951 non-null    float64
 9   Employees                     1000 non-null   int64
 10  CEO                           1000 non-null   object
 11  CEO Title                     1000 non-null   object
 12  Sector                        1000 non-null   object
 13  Industry                      1000 non-null   object
 14  Years on Fortune 500 List     500 non-null    float64
 15  City                          999 non-null    object
 16  State                         1000 non-null   object
 17  Latitude                      1000 non-null   float64
 18  Longitude                     1000 non-null   float64
dtypes: float64(10), int64(2), object(7)
memory usage: 148.6+ KB

   rank               title  Previous Rank  ...  State   Latitude   Longitude
0     1             Walmart            1.0  ...     AR  36.372854  -94.208817
1     2         Exxon Mobil            4.0  ...     TX  32.814018  -96.948894
2     3  Berkshire Hathaway            2.0  ...     NE  41.256537  -95.934503
3     4               Apple            3.0  ...     CA  37.322998 -122.032182
4     5  UnitedHealth Group            6.0  ...     MN  44.921184  -93.468749

[5 rows x 19 columns]

### Calculate the Pearson correlation coefficients between Revenue, Profit, Assets, and Employees.

In [15]:
fortune[['Revenues ($M)','Profits ($M)','Employees']].corr()

               Revenues ($M)  Profits ($M)  Employees
Revenues ($M)       1.000000      0.648334   0.730673
Profits ($M)        0.648334      1.000000   0.335980
Employees           0.730673      0.335980   1.000000

### Group the data by sector and calculate the mean and standard deviation of revenue for each sector.

In [17]:
print('Mean by sector: \n{}'.format(fortune.groupby(by='Sector')['Revenues ($M)'].mean()))
print('Mean by sector: \n{}'.format(fortune.groupby(by='Sector')['Revenues ($M)'].std()))

Mean by sector:
Sector
Aerospace &  Defense              15353.400000
Apparel                            7225.521429
Business Services                  5963.962264
Chemicals                          7610.636364
Energy                            14425.300935
Engineering &  Construction        6399.333333
Financials                        15757.935484
Food &  Drug Stores               33789.000000
Food, Beverages &  Tobacco        13790.054054
Health Care                       21239.315493
Hotels, Restaurants &  Leisure     6916.346154
Household Products                 8277.850000
Industrials                       10615.102041
Materials                          6184.400000
Media                              9219.496000
Motor Vehicles &  Parts           22817.631579
Retailing                         21874.714286
Technology                        13347.789320
Telecommunications                46695.900000
Transportation                    11379.000000
Wholesalers                       20185.204545
Name: Revenues ($M), dtype: float64
Mean by sector:
Sector
Aerospace &  Defense              22418.101024
Apparel                            8291.485768
Business Services                  4592.838066
Chemicals                         10738.264495
Energy                            29487.849008
Engineering &  Construction        4915.073135
Financials                        28233.130429
Food &  Drug Stores               44221.855781
Food, Beverages &  Tobacco        15368.556371
Health Care                       36165.320863
Hotels, Restaurants &  Leisure     6441.236788
Household Products                12247.791327
Industrials                       19158.335115
Materials                          4528.556179
Media                             12231.212650
Motor Vehicles &  Parts           47563.776080
Retailing                         61964.299034
Technology                        28849.502883
Telecommunications                57149.740825
Transportation                    15888.249777
Wholesalers                       40442.310045
Name: Revenues ($M), dtype: float64

### Create a new financial strength index variable that combines the revenue, profit, and assets variables into a single value for each company. Then sort the data frame by that value to see who has the most financial strength. 

Try different ways of calculating the index and see how your results change.

In [18]:
# negative profit minus revenue is costs. dividing assets by cost gives an idea of what proportion of asset is equated to 1 unit of cost. 
# if cost are low and assets are high, the index will be higher. 
# the index basically says how many times can costs be paid with assets, which i feel represents resiliency
# the inverse needs to be taken so companies with more profits than sales rank higher.
# assets / cost, cost = -profits - revenue
fortune['fin_strength'] = -(fortune['Assets ($M)'] / -(fortune['Profits ($M)'] - fortune['Revenues ($M)']))

In [19]:
fortune.sort_values(by='fin_strength',ascending=False)

     rank                      title  ...   Longitude  fin_strength
640   641                  CME Group  ...  -87.629798    181.144837
517   518               Marathon Oil  ...  -95.369803     38.617544
403   404     A-Mark Precious Metals  ... -118.416465     -0.068596
246   247          Core-Mark Holding  ... -122.407750     -0.146249
90     91        World Fuel Services  ...  -80.191790     -0.166678
..    ...                        ...  ...         ...           ...
743   744        First Republic Bank  ... -122.419415    -40.746878
772   773      Park Hotels & Resorts  ...  -77.177260    -58.518072
765   766  Annaly Capital Management  ...  -74.005973    -82.104244
490   491             Peabody Energy  ...  -90.199404           NaN
703   704             Avaya Holdings  ... -121.955236           NaN

[1000 rows x 20 columns]

### Group the data by sector and calculate the average financial strength index for each sector.

In [20]:
fortune.groupby(by='Sector')['fin_strength'].mean()
# expect finacials and energy tobe skewed as those are the only positive financial indices

Sector
Aerospace &  Defense              -1.427505
Apparel                           -0.909519
Business Services                 -2.231310
Chemicals                         -1.748575
Energy                            -3.236685
Engineering &  Construction       -0.931664
Financials                       -11.277182
Food &  Drug Stores               -0.421417
Food, Beverages &  Tobacco        -1.714141
Health Care                       -1.812630
Hotels, Restaurants &  Leisure    -1.600600
Household Products                -1.422356
Industrials                       -1.364505
Materials                         -1.163209
Media                             -2.236312
Motor Vehicles &  Parts           -1.093358
Retailing                         -0.697242
Technology                        -1.925267
Telecommunications                -3.318796
Transportation                    -1.868183
Wholesalers                       -0.538675
Name: fin_strength, dtype: float64