## Day 76 Lecture 2 Assignment

In this assignment, we will learn about Dask dataframes. We will use the census dataset loaded below and perform some exploratory data analysis.

In [1]:
%reload_ext nb_black

In [2]:
import dask.dataframe as dd
import numpy as np

In [4]:
census = dd.read_csv("data/acs2015_census_tract_data.csv")

In [5]:
census.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

The dataset described above contains the aggregated data for each county in the United States. For example, the number in the Carpool column describes the percent of people in the county who carpool to work.

Print all the column names in the dataset and describe the data in each column

In [10]:
# Answer below:
census.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [11]:
census.describe()

Dask DataFrame Structure:
              CensusTract TotalPop      Men    Women Hispanic    White    Black   Native    Asian  Pacific  Citizen   Income IncomeErr IncomePerCap IncomePerCapErr  Poverty ChildPoverty Professional  Service   Office Construction Production    Drive  Carpool  Transit     Walk OtherTransp WorkAtHome MeanCommute Employed PrivateWork PublicWork SelfEmployed FamilyWork Unemployment
npartitions=1
                  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64   float64      float64         float64  float64      float64      float64  float64  float64      float64    float64  float64  float64  float64  float64     float64    float64     float64  float64     float64    float64      float64    float64      float64
                      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...       ...          ...             ...      ...          ...          ...      ...      ...          ...        ...      ...      ...      ...      ...         ...        ...         ...      ...         ...        ...          ...        ...          ...
Dask Name: describe-numeric, 159 tasks

How many counties have a unemployement rate above 10%?

In [22]:
# Answer below:
census[census["Unemployment"] > 10].compute().shape[0]

23530

Print the number of counties in each state.

In [25]:
# Answer below:
census.groupby('State')['County'].nunique().compute()

State
Alabama                  67
Alaska                   29
Arizona                  15
Arkansas                 75
California               58
Colorado                 64
Connecticut               8
Delaware                  3
District of Columbia      1
Florida                  67
Georgia                 159
Hawaii                    5
Idaho                    44
Illinois                102
Indiana                  92
Iowa                     99
Kansas                  105
Kentucky                120
Louisiana                64
Maine                    16
Maryland                 24
Massachusetts            14
Michigan                 83
Minnesota                87
Mississippi              82
Missouri                115
Montana                  56
Nebraska                 93
Nevada                   17
New Hampshire            10
New Jersey               21
New Mexico               33
New York                 62
North Carolina          100
North Dakota             53
Ohio                     88
Oklahoma                 77
Oregon                   36
Pennsylvania             67
Puerto Rico              78
Rhode Island              5
South Carolina           46
South Dakota             66
Tennessee                95
Texas                   254
Utah                     29
Vermont                  14
Virginia                133
Washington               39
West Virginia            55
Wisconsin                72
Wyoming                  23
Name: County, dtype: int64

Add a high child poverty boolean column. This column will be 1 if the rate of child poverty is over %20 and 0 otherwise.

In [32]:
# Answer below:
census['HighChildPoverty'] = (census['ChildPoverty'] > 20)
census['HighChildPoverty']

Dask Series Structure:
npartitions=1
    bool
     ...
Name: HighChildPoverty, dtype: bool
Dask Name: getitem, 5 tasks

What are the top 10 most populated counties?

In [41]:
#answer below:
census.set_index('TotalPop').compute()

,CensusTract,State,County,Men,Women,Hispanic,White,Black,Native,Asian,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,HighChildPoverty
TotalPop,,,,,,,,,,,,,,,,,,,,,
0,36075990000,New York,Oswego,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,False
0,26053990000,Michigan,Gogebic,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,False
0,36055990000,New York,Monroe,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,False
0,55083990000,Wisconsin,Oconto,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,False
0,47031980100,Tennessee,Coffee,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35527,12115002712,Florida,Sarasota,17250,18277,8.5,78.1,9.3,0.1,0.4,...,2.2,2.4,29.5,13962,81.5,13.8,4.4,0.2,7.1,False
38137,48157672900,Texas,Fort Bend,18139,19998,23.9,22.2,28.5,0.0,24.3,...,1.3,3.4,38.5,18577,82.4,14.7,2.4,0.5,6.7,False
38169,12119911200,Florida,Sumter,17638,20531,1.4,96.0,1.3,0.0,0.9,...,8.0,19.5,23.2,5407,80.4,10.8,8.9,0.0,8.0,False
39454,6073018700,California,San Diego,27962,11492,23.0,60.5,9.3,1.1,2.6,...,2.0,11.7,12.3,3548,41.4,55.7,2.9,0.0,15.5,False
53812,48157673101,Texas,Fort Bend,26562,27250,18.5,53.9,7.0,1.0,18.4,...,2.2,6.4,36.5,24075,82.2,12.3,5.2,0.3,3.0,False

In [48]:
census.nlargest(10, "TotalPop").compute()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,HighChildPoverty
63656,48157673101,Texas,Fort Bend,53812,26562,27250,18.5,53.9,7.0,1.0,...,2.2,6.4,36.5,24075,82.2,12.3,5.2,0.3,3.0,False
9724,6073018700,California,San Diego,39454,27962,11492,23.0,60.5,9.3,1.1,...,2.0,11.7,12.3,3548,41.4,55.7,2.9,0.0,15.5,False
18180,12119911200,Florida,Sumter,38169,17638,20531,1.4,96.0,1.3,0.0,...,8.0,19.5,23.2,5407,80.4,10.8,8.9,0.0,8.0,False
63652,48157672900,Texas,Fort Bend,38137,18139,19998,23.9,22.2,28.5,0.0,...,1.3,3.4,38.5,18577,82.4,14.7,2.4,0.5,6.7,False
18070,12115002712,Florida,Sarasota,35527,17250,18277,8.5,78.1,9.3,0.1,...,2.2,2.4,29.5,13962,81.5,13.8,4.4,0.2,7.1,False
62174,48039660602,Texas,Brazoria,33655,15473,18182,22.8,27.1,28.2,0.0,...,1.4,0.5,35.1,18425,80.4,16.0,3.6,0.0,2.3,False
65439,48339692001,Texas,Montgomery,31493,15813,15680,17.0,71.8,6.3,0.0,...,0.5,5.6,34.5,15828,89.0,8.8,2.2,0.0,3.8,False
16886,12095016730,Florida,Orange,30258,14659,15599,35.1,46.8,7.7,0.0,...,1.9,12.7,30.5,15521,83.2,13.9,2.8,0.0,6.1,False
50374,38017040500,North Dakota,Cass,30256,14321,15935,1.5,93.7,1.4,0.7,...,0.7,3.4,17.8,18538,85.1,11.8,3.1,0.0,2.3,False
63558,48141010341,Texas,El Paso,29238,13942,15296,84.8,9.2,4.4,0.2,...,0.2,2.3,28.3,11618,69.7,25.3,5.0,0.0,7.4,False

What is the current number of partitions?

In [50]:
#Answer below:
census
census.npartitions

1