## Loss Functions

In this assignment, we will learn about loss functions. We will use a create a neural network and measure the model's performance using different loss functions.

In [97]:
import numpy as np
import pandas as pd

from keras.models import Sequential
from keras.layers import Dense
import keras

pd.set_option('display.max_rows', 100)

In [17]:
housing = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/housing.csv')

In [18]:
housing.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [ ]:
housing.info()

We will use the dataset above to predict housing prices using various features about each house. Our first step is to check for missing data.

In [20]:
# Answer below:
missing_percs = housing.isna().mean()
cols_missing_30perc = missing_percs > 0.3
type(cols_missing_30perc)

pandas.core.series.Series

Remove columns that contain more than 30% of missing data. After removing those columns, remove the rows that contain at least one observation that is missing.

In [21]:
# Answer below:
housing = housing.loc[:,~cols_missing_30perc]
housing = housing.dropna(axis=0)
housing.isna().sum().sum()

0

There are some categorical variables that contain numeric data and some that do not. Print the type of each column to first see whether there is an issue with misclassification of column type.

In [27]:
# Answer below:
#housing.info()
housing.select_dtypes(include='O').head()
# all object columns look to be categorical

  MSZoning Street LotShape  ... PavedDrive SaleType SaleCondition
0       RL   Pave      Reg  ...          Y       WD        Normal
1       RL   Pave      Reg  ...          Y       WD        Normal
2       RL   Pave      IR1  ...          Y       WD        Normal
3       RL   Pave      IR1  ...          Y       WD       Abnorml
4       RL   Pave      IR1  ...          Y       WD        Normal

[5 rows x 38 columns]

In [32]:
housing.select_dtypes(exclude='O').head(15)
# MSSubClass is categorical.

    MSSubClass  LotFrontage  LotArea  ...  PoolArea  MiscVal  SalePrice
0           60         65.0     8450  ...         0        0     208500
1           20         80.0     9600  ...         0        0     181500
2           60         68.0    11250  ...         0        0     223500
3           70         60.0     9550  ...         0        0     140000
4           60         84.0    14260  ...         0        0     250000
5           50         85.0    14115  ...         0      700     143000
6           20         75.0    10084  ...         0        0     307000
8           50         51.0     6120  ...         0        0     129900
9          190         50.0     7420  ...         0        0     118000
10          20         70.0    11200  ...         0        0     129500
11          60         85.0    11924  ...         0        0     345000
13          20         91.0    10652  ...         0        0     279500
15          45         51.0     6120  ...         0        0     132000
18          20         66.0    13695  ...         0        0     159000
19          20         70.0     7560  ...         0        0     139000

[15 rows x 35 columns]

We see that month sold and year sold are not variables that describe a feature of the house. While they do have relevance if we create a model containing a time series element, we will not include them here. Drop these columns. Also, remove the id column

In [ ]:
housing.info()

In [30]:
# Answer below
housing.drop(columns=['MoSold', 'YrSold', 'Id'], inplace=True)

Using the information about the column types, identify all the variables that will be converted into dummy variables. Include at least one numeric variable that you think should be converted as well.

In [40]:
# Answer below:
housing['MSSubClass'] = housing['MSSubClass'].astype('object')

Convert the columns you selected above into dummy variables

In [41]:
# Answer below:
housing_dummies = pd.get_dummies(housing, columns=housing.select_dtypes(include='O').columns, drop_first=True)

In [42]:
housing_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1094 entries, 0 to 1459
Columns: 233 entries, LotFrontage to SaleCondition_Partial
dtypes: float64(3), int64(31), uint8(199)
memory usage: 511.7 KB

Split the data into train and test with 20% of data in test.

In [44]:
# Answer below
from sklearn.model_selection import train_test_split as tts

X = housing_dummies.drop(columns=['SalePrice'])
y = housing_dummies['SalePrice']

X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

In [53]:
num_cols = housing.drop(columns=['SalePrice']).select_dtypes(exclude=['O']).columns
num_cols

Index(['LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
       'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr',
       'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt',
       'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal'],
      dtype='object')

In [54]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler

preprocessing = ColumnTransformer([
                ('minmax', MinMaxScaler(), num_cols),


], remainder='passthrough')

In [56]:
X_train = preprocessing.fit_transform(X_train)
X_test = preprocessing.transform(X_test)

In [87]:
y_test = y_test.to_numpy()

Create a model with 5 layers. The first layer should be a dense layer that takes in the input, the last layer should be of size 1. You determine the remaining layer sizes.

Use a linear activation for the output layer.

In [88]:
# Answer below
model1 = Sequential()

model1.add(Dense(128, input_dim=X_train.shape[1], kernel_initializer='normal', activation='relu'))

# second layer
model1.add(Dense(64, activation='relu'))

# third layer
model1.add(Dense(32, activation='relu'))

# fourth layer
model1.add(Dense(16, activation='relu'))

# fifth layer, output
model1.add(Dense(1, activation='linear'))

Compile the model with the RMSprop optimizer and mean square error loss. Use the MSE as a metric. Set batch size to 100 and epochs to 200. Fit the model and report the results.

In [ ]:
# Answer below:
model1.compile(optimizer='RMSprop', loss='mse', metrics=['mse'])
model1.fit(X_train, y_train, validation_data=(X_test, y_test), batch_size=100, epochs=200,  verbose=2)

In [102]:
model1_score = model1.evaluate(X_test, y_test, verbose=2)

print('Test score: ', model1_score[0])
print('Test MSE: ', model1_score[1])

7/7 - 0s - loss: 1096723456.0000 - mse: 1096723456.0000
Test score:  1096723456.0
Test MSE:  1096723456.0

Next, do the same but with mean absolute error loss. Use both MSE and MAE as metrics. Compare the results.

In [92]:
# Answer below:
# Answer below
model2 = Sequential()

model2.add(Dense(128, input_dim=X_train.shape[1], kernel_initializer='normal', activation='relu'))

# second layer
model2.add(Dense(64, activation='relu'))

# third layer
model2.add(Dense(32, activation='relu'))

# fourth layer
model2.add(Dense(16, activation='relu'))

# fifth layer, output
model2.add(Dense(1, activation='linear'))

In [ ]:
model2.compile(optimizer='RMSprop', loss='mae', metrics=['mae'])
model2.fit(X_train, y_train, validation_data=(X_test, y_test), batch_size=100, epochs=200,  verbose=2)

In [101]:
model2_score = model2.evaluate(X_test, y_test, verbose=2)

print('Test score: ', model2_score[0])
print('Test MAE: ', model2_score[1])

7/7 - 0s - loss: 0.0204 - mae: 18200.6582
Test score:  0.020420921966433525
Test MAE:  18200.658203125

Finally, try your model using mean squared logarithmic error. Compare the results.

In [95]:
# Answer below:
model3 = Sequential()

model3.add(Dense(128, input_dim=X_train.shape[1], kernel_initializer='normal', activation='relu'))

# second layer
model3.add(Dense(64, activation='relu'))

# third layer
model3.add(Dense(32, activation='relu'))

# fourth layer
model3.add(Dense(16, activation='relu'))

# fifth layer, output
model3.add(Dense(1, activation='linear'))

In [ ]:
model3.compile(optimizer='RMSprop', loss=keras.losses.MeanSquaredLogarithmicError(), metrics=['mae'])
model3.fit(X_train, y_train, validation_data=(X_test, y_test), batch_size=100, epochs=200,  verbose=2)

In [103]:
model3_score = model2.evaluate(X_test, y_test, verbose=2)

print('Test score: ', model3_score[0])
print('Test MSLogE: ', model3_score[1])

7/7 - 0s - loss: 0.0204 - mae: 18200.6582
Test score:  0.020420921966433525
Test MSLogE:  18200.658203125