## Day 29 Lecture 2 Assignment

In this assignment, we will learn about entropy and information gain in the ID3 algorithm.

In [15]:
import numpy as np
import pandas as pd
import math

In [16]:
tennis = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/tennis_decision.csv')

In [17]:
tennis.isna().sum()

Day         0
Outlook     0
Temp.       0
Humidity    0
Wind        0
Decision    0
dtype: int64

In [18]:
tennis = tennis.dropna()

In [19]:
tennis.head()

   Day   Outlook Temp. Humidity    Wind Decision
0    1     Sunny   Hot     High    Weak       No
1    2     Sunny   Hot     High  Strong       No
2    3  Overcast   Hot     High    Weak      Yes
3    4      Rain  Mild     High    Weak      Yes
4    5      Rain  Cool   Normal    Weak      Yes

Write a function to compute entropy given an input of a sequence of probabilities.

In [5]:
def calc_log2(x):
    if x == 0:
        return 0
    else:
        return math.log2(x)

In [6]:
#answer below:

from math import log2

def entropy_calc(probs):
    entropy = 0
    for prob in probs:
        entropy += -prob * calc_log2(prob)
    return entropy

Aggregate the tennis decision table for each value of each column. Start with Outlook below. Compute the weighted mean of the entropy for outlook (the weighted mean of the yes decision and the no decision).

In [7]:
tennis['Decision'] = tennis['Decision'].map({'Yes': 1, 'No': 0})

In [20]:
# answer below:
outlook_probs = tennis['Decision'].value_counts(normalize=True)
outlook_probs

Yes    0.642857
No     0.357143
Name: Decision, dtype: float64

In [21]:
entropy_calc(outlook_probs)

0.9402859586706311

Compute the weighted mean of the entropy for temperature, humidity and wind as well and decide based on these values which should be the first variable chosen for a split.

In [10]:
tennis.head()

   Day   Outlook Temp. Humidity    Wind  Decision
0    1     Sunny   Hot     High    Weak         0
1    2     Sunny   Hot     High  Strong         0
2    3  Overcast   Hot     High    Weak         1
3    4      Rain  Mild     High    Weak         1
4    5      Rain  Cool   Normal    Weak         1

In [11]:
feat_cols = tennis.drop(columns='Decision').columns.tolist()

In [12]:
feat_cols

['Day', 'Outlook', 'Temp.', 'Humidity', 'Wind']

In [13]:
# answer below:
temp_probs = tennis.groupby(by='Temp.')['Decision'].mean()
temp_probs

Temp.
Cool    0.750000
Hot     0.500000
Mild    0.666667
Name: Decision, dtype: float64

In [22]:
for col in feat_cols:
    col_probs = tennis[col].value_counts(normalize=True)
    print(f"Entropy for {col} is: {entropy_calc(col_probs)}")

Entropy for Day is: 3.8073549220576055
Entropy for Outlook is: 1.5774062828523454
Entropy for Temp. is: 1.5566567074628228
Entropy for Humidity is: 1.0
Entropy for Wind is: 0.9852281360342516