## Day 29 Lecture 1 Assignment

In this assignment, we will learn about decision trees. We will use the Chicago salary dataset loaded below.

In [28]:
%matplotlib inline

import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor, plot_tree

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [10]:
chicago = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Current_Employee_Names__Salaries__and_Position_Titles.csv')

In [11]:
chicago.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

In [12]:
chicago['Salary or Hourly'].value_counts()

Salary    24775
Hourly     7883
Name: Salary or Hourly, dtype: int64

To simplify this problem, we will limit our model to only salary employees. Create a new dataset that does not contain any hourly employees.

In [9]:
# answer below:
chicago = chicago[chicago['Salary or Hourly'] == 'Salary']
chicago['Salary or Hourly'].value_counts()

Salary    24775
Name: Salary or Hourly, dtype: int64

Next, we will look at the count of all values for both job titles and department to ensure that we don't use features that are too sparse in our model.

In [21]:
chicago.columns

Index(['Name', 'Job Titles', 'Salary or Hourly', 'Typical Hours',
       'Annual Salary', 'Hourly Rate', 'Department_ANIMAL CONTRL',
       'Department_AVIATION', 'Department_BOARD OF ELECTION',
       'Department_BOARD OF ETHICS', 'Department_BUDGET & MGMT',
       'Department_BUILDINGS', 'Department_BUSINESS AFFAIRS',
       'Department_CITY CLERK', 'Department_CITY COUNCIL',
       'Department_COMMUNITY DEVELOPMENT', 'Department_COPA',
       'Department_CULTURAL AFFAIRS', 'Department_DISABILITIES',
       'Department_DoIT', 'Department_FAMILY & SUPPORT', 'Department_FINANCE',
       'Department_FIRE', 'Department_GENERAL SERVICES', 'Department_HEALTH',
       'Department_HUMAN RELATIONS', 'Department_HUMAN RESOURCES',
       'Department_INSPECTOR GEN', 'Department_IPRA', 'Department_LAW',
       'Department_LICENSE APPL COMM', 'Department_MAYOR'S OFFICE',
       'Department_OEMC', 'Department_POLICE', 'Department_POLICE BOARD',
       'Department_PROCUREMENT', 'Department_PUBLIC LIBRARY',
       'Department_STREETS & SAN', 'Department_TRANSPORTN',
       'Department_TREASURER', 'Department_WATER MGMNT',
       'Full or Part-Time_P'],
      dtype='object')

In [16]:
# answer below:
chicago['Job Titles'].value_counts(), chicago['Department'].value_counts()

(POLICE OFFICER                            9393
 FIREFIGHTER-EMT                           1424
 SERGEANT                                  1118
 POOL MOTOR TRUCK DRIVER                    996
 POLICE OFFICER (ASSIGNED AS DETECTIVE)     845
                                           ...
 COORD OF COMMUNITY SERVICES-CFD              1
 DIR OF 311 CITY SERVICES                     1
 LICENSING COORD                              1
 CURATOR OF EXHIBITS                          1
 CHIEF BOILER INSPECTOR                       1
 Name: Job Titles, Length: 1095, dtype: int64,
 POLICE                   12973
 FIRE                      4800
 STREETS & SAN             2194
 OEMC                      2044
 WATER MGMNT               1878
 AVIATION                  1612
 TRANSPORTN                1103
 GENERAL SERVICES           972
 PUBLIC LIBRARY             932
 FAMILY & SUPPORT           621
 FINANCE                    575
 HEALTH                     516
 LAW                        405
 CITY COUNCIL               400
 BUILDINGS                  266
 COMMUNITY DEVELOPMENT      214
 BUSINESS AFFAIRS           168
 BOARD OF ELECTION          112
 DoIT                       101
 PROCUREMENT                 86
 CITY CLERK                  85
 MAYOR'S OFFICE              85
 CULTURAL AFFAIRS            76
 ANIMAL CONTRL               73
 HUMAN RESOURCES             68
 INSPECTOR GEN               63
 IPRA                        56
 BUDGET & MGMT               44
 ADMIN HEARNG                38
 DISABILITIES                29
 TREASURER                   24
 COPA                        17
 HUMAN RELATIONS             17
 BOARD OF ETHICS              8
 POLICE BOARD                 2
 LICENSE APPL COMM            1
 Name: Department, dtype: int64)

Choose the between department and job title and use the variable with the smallest number of values to for one hot encoding. Additionally, create dummy variables for full ot part-time.

In [19]:
# answer below:
chicago = pd.get_dummies(chicago, columns=['Department', 'Full or Part-Time'], drop_first=True)

Remove all irrelevant columns (Name, Job Titles, Salary or Hourly, Typical Hours, Hourly Rate)

In [22]:
# answer below:
chicago = chicago.drop(columns=['Name', 'Job Titles', 'Salary or Hourly', 'Typical Hours', 'Hourly Rate'])

Check that none of the remaining columns are of object type and convert them to numeric if they are of object type.

In [23]:
# answer below:
chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32658 entries, 0 to 32657
Data columns (total 37 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Annual Salary                     24775 non-null  object
 1   Department_ANIMAL CONTRL          32658 non-null  uint8
 2   Department_AVIATION               32658 non-null  uint8
 3   Department_BOARD OF ELECTION      32658 non-null  uint8
 4   Department_BOARD OF ETHICS        32658 non-null  uint8
 5   Department_BUDGET & MGMT          32658 non-null  uint8
 6   Department_BUILDINGS              32658 non-null  uint8
 7   Department_BUSINESS AFFAIRS       32658 non-null  uint8
 8   Department_CITY CLERK             32658 non-null  uint8
 9   Department_CITY COUNCIL           32658 non-null  uint8
 10  Department_COMMUNITY DEVELOPMENT  32658 non-null  uint8
 11  Department_COPA                   32658 non-null  uint8
 12  Department_CULTURAL AFFAIRS       32658 non-null  uint8
 13  Department_DISABILITIES           32658 non-null  uint8
 14  Department_DoIT                   32658 non-null  uint8
 15  Department_FAMILY & SUPPORT       32658 non-null  uint8
 16  Department_FINANCE                32658 non-null  uint8
 17  Department_FIRE                   32658 non-null  uint8
 18  Department_GENERAL SERVICES       32658 non-null  uint8
 19  Department_HEALTH                 32658 non-null  uint8
 20  Department_HUMAN RELATIONS        32658 non-null  uint8
 21  Department_HUMAN RESOURCES        32658 non-null  uint8
 22  Department_INSPECTOR GEN          32658 non-null  uint8
 23  Department_IPRA                   32658 non-null  uint8
 24  Department_LAW                    32658 non-null  uint8
 25  Department_LICENSE APPL COMM      32658 non-null  uint8
 26  Department_MAYOR'S OFFICE         32658 non-null  uint8
 27  Department_OEMC                   32658 non-null  uint8
 28  Department_POLICE                 32658 non-null  uint8
 29  Department_POLICE BOARD           32658 non-null  uint8
 30  Department_PROCUREMENT            32658 non-null  uint8
 31  Department_PUBLIC LIBRARY         32658 non-null  uint8
 32  Department_STREETS & SAN          32658 non-null  uint8
 33  Department_TRANSPORTN             32658 non-null  uint8
 34  Department_TREASURER              32658 non-null  uint8
 35  Department_WATER MGMNT            32658 non-null  uint8
 36  Full or Part-Time_P               32658 non-null  uint8
dtypes: object(1), uint8(36)
memory usage: 1.4+ MB

In [27]:
chicago['Annual Salary'] = pd.to_numeric(chicago['Annual Salary'].str.replace('$', ''))
chicago['Annual Salary']

0        107790.0
1        104628.0
2        114324.0
3         76932.0
4        111474.0
           ...
32653     90024.0
32654     48078.0
32655     87006.0
32656     93354.0
32657    115932.0
Name: Annual Salary, Length: 32658, dtype: float64

Split the data into a test and train sample. Use annual salary as the dependent variable. 20% of the data should be assigned to the test sample.

In [33]:
chicago = chicago.dropna()

In [34]:
# answer below:
X = chicago.drop(columns='Annual Salary')
y = chicago['Annual Salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Generate a regession decision tree using `DecisionTreeRegressor` in sklearn. Fit the model on the training set and calculate the score for both train and test.

In [35]:
chicago['Annual Salary'].value_counts(dropna=False)

90024.0     2368
87006.0     2252
93354.0     1390
84054.0      765
80016.0      754
            ...
99996.0        1
87348.0        1
133740.0       1
63036.0        1
61440.0        1
Name: Annual Salary, Length: 1038, dtype: int64

In [36]:
# answer below:
model = DecisionTreeRegressor()

model.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [37]:
model.score(X_train, y_train)

0.14933243466898605

In [38]:
model.score(X_test, y_test)

0.13417968704133165