In [3]:
%reload_ext nb_black

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [5]:
postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "useducation"

engine = create_engine(
    "postgresql://{}:{}@{}:{}/{}".format(
        postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db
    )
)

us_edu = pd.read_sql_query("select * from useducation", con=engine)

engine.dispose()

In [51]:
us_edu.head()
us_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1229 non-null   float64
 4   TOTAL_REVENUE                 1280 non-null   float64
 5   FEDERAL_REVENUE               1280 non-null   float64
 6   STATE_REVENUE                 1280 non-null   float64
 7   LOCAL_REVENUE                 1280 non-null   float64
 8   TOTAL_EXPENDITURE             1280 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1280 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1280 non-null   float64
 11  OTHER_EXPENDITURE             1229 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1280 non-null   float64
 13  GRADES_PK_G                   1319 non-null   float64
 14  GRADES_KG_G                   1360 non-null   float64
 15  GRADES_4_G                    1361 non-null   float64
 16  GRADES_8_G                    1361 non-null   float64
 17  GRADES_12_G                   1361 non-null   float64
 18  GRADES_1_8_G                  1361 non-null   float64
 19  GRADES_9_12_G                 1361 non-null   float64
 20  GRADES_ALL_G                  1319 non-null   float64
 21  AVG_MATH_4_SCORE              536 non-null    float64
 22  AVG_MATH_8_SCORE              532 non-null    float64
 23  AVG_READING_4_SCORE           533 non-null    float64
 24  AVG_READING_8_SCORE           498 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

1. Determine all the variable types and find the fraction of the missing values for each variable.

In [8]:
def missingness_summary(df, print_log=False, sort=None):
    missings = df.isna().mean()

    if sort == "asc":
        missings = missings.sort_values()
    elif sort == "desc":
        missings = missings.sort_values(ascending=False)

    if print_log:
        print(missings)

    return missings


us_edu_missing_report = missingness_summary(us_edu, print_log=True, sort="desc")

AVG_READING_8_SCORE             0.666220
AVG_MATH_8_SCORE                0.643432
AVG_READING_4_SCORE             0.642761
AVG_MATH_4_SCORE                0.640751
OTHER_EXPENDITURE               0.176273
ENROLL                          0.176273
TOTAL_REVENUE                   0.142091
FEDERAL_REVENUE                 0.142091
STATE_REVENUE                   0.142091
LOCAL_REVENUE                   0.142091
TOTAL_EXPENDITURE               0.142091
INSTRUCTION_EXPENDITURE         0.142091
SUPPORT_SERVICES_EXPENDITURE    0.142091
CAPITAL_OUTLAY_EXPENDITURE      0.142091
GRADES_PK_G                     0.115952
GRADES_ALL_G                    0.115952
GRADES_KG_G                     0.088472
GRADES_4_G                      0.087802
GRADES_8_G                      0.087802
GRADES_12_G                     0.087802
GRADES_1_8_G                    0.087802
GRADES_9_12_G                   0.087802
YEAR                            0.000000
STATE                           0.000000
PRIMARY_KEY                     0.000000
dtype: float64

In [11]:
us_edu["AVG_READING_8_SCORE"].isna()

0.6662198391420912

In [17]:
us_edu.head(52)

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN
5,1992_COLORADO,COLORADO,1992,NaN,3185173.0,163253.0,1307986.0,1713934.0,3264826.0,1642466.0,...,50648.0,45025.0,34533.0,394904.0,160299.0,562613.0,221.023429,272.398433,213.480890,266.419687
6,1992_CONNECTICUT,CONNECTICUT,1992,NaN,3834302.0,143542.0,1342539.0,2348221.0,3721338.0,2148041.0,...,38058.0,33691.0,28366.0,304284.0,126917.0,436932.0,226.798480,273.739345,222.417599,264.713904
7,1992_DELAWARE,DELAWARE,1992,NaN,645233.0,45945.0,420942.0,178346.0,638784.0,372722.0,...,8272.0,8012.0,6129.0,67495.0,28338.0,96296.0,217.899972,262.868585,206.389052,261.577921
8,1992_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,1992,NaN,709480.0,64749.0,0.0,644731.0,742893.0,329160.0,...,5832.0,5000.0,3433.0,47009.0,18173.0,70000.0,192.600553,234.924621,178.557612,265.976765
9,1992_FLORIDA,FLORIDA,1992,NaN,11506299.0,788420.0,5683949.0,5033930.0,11305642.0,5166374.0,...,164416.0,142372.0,100835.0,1276685.0,511557.0,1819706.0,213.689751,259.908848,204.882606,262.118986
10,1992_GEORGIA,GEORGIA,1992,NaN,5536901.0,398701.0,2798674.0,2339526.0,5535942.0,3043984.0,...,99648.0,92374.0,63646.0,787599.0,315539.0,1106441.0,215.594906,259.359434,206.844175,NaN
11,1992_HAWAII,HAWAII,1992,NaN,996809.0,71273.0,903443.0,22093.0,1040121.0,536115.0,...,13754.0,11750.0,9051.0,107242.0,43882.0,151649.0,214.056666,257.410887,200.880272,NaN
12,1992_IDAHO,IDAHO,1992,NaN,859329.0,69138.0,531912.0,258279.0,886161.0,473505.0,...,18607.0,18880.0,14593.0,146573.0,66541.0,214345.0,221.562534,275.090294,NaN,NaN
13,1992_ILLINOIS,ILLINOIS,1992,NaN,9748650.0,597077.0,3073178.0,6078395.0,9850560.0,5010400.0,...,133120.0,134317.0,106475.0,1111167.0,495562.0,1646411.0,NaN,NaN,NaN,NaN
14,1992_INDIANA,INDIANA,1992,NaN,5060274.0,257044.0,2578149.0,2225081.0,5182754.0,2598925.0,...,73760.0,75477.0,62234.0,601890.0,278161.0,883276.0,221.037742,270.098944,219.763258,NaN
15,1992_IOWA,IOWA,1992,NaN,2663934.0,125665.0,1176205.0,1362064.0,2795774.0,1446478.0,...,37692.0,36892.0,33057.0,299253.0,138907.0,442752.0,229.884078,283.360009,222.852939,NaN
16,1992_KANSAS,KANSAS,1992,NaN,2245348.0,121625.0,903199.0,1220524.0,2234915.0,1165749.0,...,36013.0,33288.0,26706.0,284143.0,120960.0,407494.0,NaN,NaN,NaN,NaN
17,1992_KENTUCKY,KENTUCKY,1992,NaN,2642902.0,289902.0,1643109.0,709891.0,2518082.0,1343438.0,...,49666.0,49993.0,38029.0,400849.0,181786.0,597199.0,215.048158,262.241282,211.562307,NaN
18,1992_LOUISIANA,LOUISIANA,1992,NaN,3341253.0,367822.0,1848734.0,1124697.0,3362853.0,1888349.0,...,61125.0,55942.0,38368.0,490112.0,196891.0,698442.0,204.140211,249.983926,196.762268,NaN
19,1992_MAINE,MAINE,1992,NaN,1206819.0,73160.0,511654.0,622005.0,1228869.0,685350.0,...,17154.0,15969.0,13882.0,135320.0,59289.0,195882.0,231.638840,278.635384,228.380027,NaN
20,1992_MARYLAND,MARYLAND,1992,NaN,4658498.0,228336.0,1778834.0,2651328.0,4698374.0,2628891.0,...,60287.0,52815.0,40426.0,472622.0,189795.0,678498.0,217.317708,264.825493,209.645497,NaN
21,1992_MASSACHUSETTS,MASSACHUSETTS,1992,NaN,5517659.0,273946.0,1439051.0,3804662.0,5245560.0,2751871.0,...,66822.0,60702.0,52425.0,536029.0,230299.0,777050.0,226.597918,272.783201,223.160076,NaN
22,1992_MICHIGAN,MICHIGAN,1992,NaN,9963137.0,537917.0,2539380.0,6885840.0,10170688.0,4681327.0,...,118963.0,114282.0,90655.0,968910.0,419351.0,1398802.0,219.878352,267.353194,NaN,NaN
23,1992_MINNESOTA,MINNESOTA,1992,NaN,4684684.0,194092.0,2380754.0,2109838.0,4981125.0,2534882.0,...,62606.0,59810.0,53813.0,500938.0,224426.0,731758.0,228.493596,282.392205,218.301709,NaN
24,1992_MISSISSIPPI,MISSISSIPPI,1992,NaN,1684706.0,277706.0,901199.0,505801.0,1691990.0,956104.0,...,39839.0,38132.0,26328.0,321614.0,129554.0,451986.0,201.828261,246.458035,201.529328,NaN
25,1992_MISSOURI,MISSOURI,1992,NaN,4043682.0,255194.0,1903124.0,1885364.0,4197600.0,2168135.0,...,67098.0,64546.0,50534.0,531337.0,235437.0,785722.0,222.215600,271.131545,216.898079,NaN
26,1992_MONTANA,MONTANA,1992,NaN,828983.0,69947.0,337455.0,421581.0,781009.0,412219.0,...,12839.0,12124.0,10019.0,102124.0,44449.0,147127.0,NaN,NaN,222.301419,NaN
27,1992_NEBRASKA,NEBRASKA,1992,NaN,1542413.0,85423.0,492256.0,964734.0,1534046.0,909159.0,...,22133.0,21379.0,18999.0,177432.0,79975.0,260541.0,225.332648,277.654523,220.034963,NaN
28,1992_NEVADA,NEVADA,1992,NaN,1097076.0,45018.0,724032.0,328026.0,1251651.0,572623.0,...,18487.0,16250.0,12242.0,145687.0,57605.0,204330.0,NaN,NaN,NaN,NaN
29,1992_NEW_HAMPSHIRE,NEW_HAMPSHIRE,1992,NaN,1063391.0,31020.0,86296.0,946075.0,1066647.0,581123.0,...,15611.0,13537.0,10752.0,123475.0,47999.0,172479.0,229.664564,278.216326,223.466140,NaN
30,1992_NEW_JERSEY,NEW_JERSEY,1992,NaN,10814689.0,416063.0,4504718.0,5893908.0,10452340.0,6042936.0,...,82909.0,77779.0,67353.0,671021.0,295337.0,975481.0,227.148047,271.905561,219.390468,NaN
31,1992_NEW_MEXICO,NEW_MEXICO,1992,NaN,1330091.0,161520.0,990653.0,177918.0,1339829.0,683253.0,...,24447.0,21690.0,16027.0,191623.0,80105.0,273800.0,213.299090,259.606718,204.535911,NaN
32,1992_NEW_YORK,NEW_YORK,1992,NaN,21630179.0,1172030.0,8697663.0,11760486.0,22815611.0,13288972.0,...,197698.0,184815.0,142822.0,1585404.0,727840.0,2344534.0,218.445535,266.422300,211.740921,NaN
33,1992_NORTH_CAROLINA,NORTH_CAROLINA,1992,NaN,5236099.0,389145.0,3283378.0,1563576.0,5418687.0,2847638.0,...,85244.0,84291.0,63427.0,695047.0,303507.0,1004673.0,212.884490,258.405375,214.358086,NaN
34,1992_NORTH_DAKOTA,NORTH_DAKOTA,1992,NaN,559481.0,51476.0,242693.0,265312.0,553732.0,315009.0,...,9570.0,9102.0,8014.0,75082.0,34165.0,109887.0,228.662815,283.213075,225.239083,NaN
35,1992_OHIO,OHIO,1992,NaN,9285961.0,472604.0,3631703.0,5181654.0,9483822.0,5172782.0,...,137839.0,137075.0,116085.0,1126405.0,511330.0,1647635.0,218.711935,268.124198,NaN,NaN
36,2001_WYOMING,WYOMING,2001,89711.0,804297.0,69172.0,403021.0,332104.0,787949.0,426072.0,...,6587.0,7211.0,6855.0,53091.0,29035.0,NaN,NaN,NaN,NaN,NaN
37,1992_OKLAHOMA,OKLAHOMA,1992,NaN,2396705.0,211627.0,1470516.0,714562.0,2515272.0,1283577.0,...,48793.0,44163.0,33346.0,387659.0,157824.0,550342.0,220.319806,268.131990,NaN,NaN
38,1992_OREGON,OREGON,1992,NaN,2773959.0,163544.0,788309.0,1822106.0,2898210.0,1556770.0,...,41443.0,39610.0,31920.0,325128.0,144002.0,469901.0,NaN,NaN,NaN,NaN
39,1992_PENNSYLVANIA,PENNSYLVANIA,1992,NaN,11257252.0,658139.0,4227323.0,6371790.0,11539253.0,6075381.0,...,131248.0,126293.0,108244.0,1063552.0,486354.0,1554322.0,224.305732,271.378439,215.268341,NaN
40,1992_RHODE_ISLAND,RHODE_ISLAND,1992,NaN,883073.0,43545.0,329810.0,509718.0,863404.0,556787.0,...,11129.0,10204.0,8244.0,90758.0,37931.0,129187.0,215.449248,265.907109,219.940098,NaN
41,1992_SOUTH_CAROLINA,SOUTH_CAROLINA,1992,NaN,2842626.0,249903.0,1350148.0,1242575.0,2922293.0,1544232.0,...,51081.0,49562.0,34615.0,415759.0,173159.0,595963.0,212.496714,260.772544,203.416190,NaN
42,1992_SOUTH_DAKOTA,SOUTH_DAKOTA,1992,NaN,551668.0,60671.0,147834.0,343163.0,593126.0,320561.0,...,10645.0,10498.0,8259.0,85823.0,36326.0,122854.0,NaN,NaN,NaN,NaN
43,1992_TENNESSEE,TENNESSEE,1992,NaN,3080490.0,308571.0,1305381.0,1466538.0,3132516.0,1830264.0,...,65195.0,63358.0,49639.0,530221.0,233430.0,773264.0,210.948227,258.828048,212.531394,NaN
44,1992_TEXAS,TEXAS,1992,NaN,16264180.0,1160185.0,6706959.0,8397036.0,16119084.0,7961379.0,...,282693.0,261053.0,180206.0,2258666.0,907423.0,3279286.0,217.918744,264.592828,212.394311,NaN
45,1992_UTAH,UTAH,1992,NaN,1555799.0,105349.0,872510.0,577940.0,1547980.0,841552.0,...,35956.0,36813.0,28775.0,288781.0,130082.0,421474.0,224.042248,274.343177,217.330393,NaN
46,1992_VERMONT,VERMONT,1992,NaN,812377.0,31757.0,204163.0,576457.0,800377.0,386699.0,...,8329.0,7227.0,5573.0,64107.0,24099.0,89986.0,NaN,NaN,NaN,NaN
47,1992_VIRGINIA,VIRGINIA,1992,NaN,5631293.0,313971.0,2180133.0,3137189.0,5744469.0,2982862.0,...,79821.0,76775.0,60854.0,645925.0,273971.0,921872.0,220.762964,267.863726,213.457286,NaN
48,1992_WASHINGTON,WASHINGTON,1992,NaN,4870832.0,263053.0,3467779.0,1140000.0,5360834.0,2587181.0,...,74098.0,67285.0,53986.0,578106.0,244732.0,827913.0,NaN,NaN,212.695386,NaN
49,1992_WEST_VIRGINIA,WEST_VIRGINIA,1992,NaN,1585099.0,130117.0,1021803.0,433179.0,1587968.0,835186.0,...,23556.0,24791.0,21844.0,191101.0,96241.0,289650.0,215.268928,259.086448,213.146935,NaN
50,1992_WISCONSIN,WISCONSIN,1992,NaN,4993909.0,217723.0,2205439.0,2570747.0,5181471.0,2914442.0,...,63365.0,60783.0,55543.0,507607.0,239952.0,763786.0,228.692001,277.879135,224.174545,NaN
51,1992_WYOMING,WYOMING,1992,NaN,629748.0,31714.0,314216.0,283818.0,624941.0,339953.0,...,8049.0,8078.0,6613.0,64614.0,28515.0,NaN,225.377592,275.080076,221.185556,NaN

In [54]:
edu_missing_counts = us_edu.isna().sum(axis=1)
len(edu_missing_counts)

1492

In [59]:
edu_dropped = us_edu
dropped_indices = []
for index in us_edu.index:
    if edu_missing_counts[index] > 12:
        # print(index)
        dropped_indices.append(index)
        edu_dropped = edu_dropped.drop(labels=index, axis=0)
edu_dropped.info()
len(dropped_indices)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1280 entries, 0 to 1285
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1280 non-null   object
 1   STATE                         1280 non-null   object
 2   YEAR                          1280 non-null   int64
 3   ENROLL                        1229 non-null   float64
 4   TOTAL_REVENUE                 1280 non-null   float64
 5   FEDERAL_REVENUE               1280 non-null   float64
 6   STATE_REVENUE                 1280 non-null   float64
 7   LOCAL_REVENUE                 1280 non-null   float64
 8   TOTAL_EXPENDITURE             1280 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1280 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1280 non-null   float64
 11  OTHER_EXPENDITURE             1229 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1280 non-null   float64
 13  GRADES_PK_G                   1218 non-null   float64
 14  GRADES_KG_G                   1229 non-null   float64
 15  GRADES_4_G                    1229 non-null   float64
 16  GRADES_8_G                    1229 non-null   float64
 17  GRADES_12_G                   1229 non-null   float64
 18  GRADES_1_8_G                  1229 non-null   float64
 19  GRADES_9_12_G                 1229 non-null   float64
 20  GRADES_ALL_G                  1218 non-null   float64
 21  AVG_MATH_4_SCORE              485 non-null    float64
 22  AVG_MATH_8_SCORE              481 non-null    float64
 23  AVG_READING_4_SCORE           482 non-null    float64
 24  AVG_READING_8_SCORE           447 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 260.0+ KB

212

In [73]:
type(dropped_indices)

list

In [89]:
r1 = list(range(0, 600))
num_dropped = 0
for index in dropped_indices:
    if index in r1:
        num_dropped += 1
range_count = max(r1) - min(r1)
print(num_dropped)
print(num_dropped - range_count)

2
-394

In [87]:
r2 = list(range(600, 800))
num_dropped = 0
for index in dropped_indices:
    if index in r2:
        num_dropped += 1
range_count = max(r2) - min(r2)
print(num_dropped)
print(num_dropped - range_count)

0

In [88]:
r3 = list(range(1095, 1492))
num_dropped = 0
for index in dropped_indices:
    if index in r3:
        num_dropped += 1
range_count = max(r3) - min(r3)
print(num_dropped)
print(num_dropped - range_count)

207
-189

In [95]:
r4 = list(range(1286, 1492))
num_dropped = 0
for index in dropped_indices:
    if index in r4:
        num_dropped += 1
range_count = max(r4) - min(r4)
print(num_dropped)
print(num_dropped - range_count)

206
1