In [5]:
!python -m pip install dask[dataframe] --upgrade
!pip install aiohttp --upgrade --quiet

Requirement already up-to-date: dask[dataframe] in /usr/local/lib/python3.6/dist-packages (2.30.0)
Requirement already satisfied, skipping upgrade: pyyaml in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (3.13)
Requirement already satisfied, skipping upgrade: numpy>=1.13.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (1.18.5)
Requirement already satisfied, skipping upgrade: pandas>=0.23.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (1.1.4)
Requirement already satisfied, skipping upgrade: fsspec>=0.6.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (0.8.4)
Requirement already satisfied, skipping upgrade: toolz>=0.8.2; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (0.11.1)
Requirement already satisfied, skipping upgrade: partd>=0.3.10; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (1.1.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (2.8.1)
Requirement already satisfied, skipping upgrade: locket in /usr/local/lib/python3.6/dist-packages (from partd>=0.3.10; extra == "dataframe"->dask[dataframe]) (0.2.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (1.15.0)
     |████████████████████████████████| 1.3MB 4.7MB/s
     |████████████████████████████████| 296kB 13.5MB/s
     |████████████████████████████████| 143kB 13.6MB/s
  Building wheel for idna-ssl (setup.py) ... done

In [6]:
import dask.dataframe as dd

In [13]:
cc_df = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/creditcard.csv', dtype={'Time': 'float64'})

In [14]:
cc_df

Dask DataFrame Structure:
                  Time       V1       V2       V3       V4       V5       V6       V7       V8       V9      V10      V11      V12      V13      V14      V15      V16      V17      V18      V19      V20      V21      V22      V23      V24      V25      V26      V27      V28   Amount  Class
npartitions=3
               float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  int64
                   ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...    ...
                   ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...    ...
                   ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...    ...
Dask Name: read-csv, 3 tasks

1. How many transactions are there in total?

In [18]:
cc_df.compute().shape[0]

284807

2. How many transactions are fraud, and how many are not fraud?

In [21]:
print('Number of non-fraud transactions: ', cc_df['Class'].value_counts().compute()[0])
print('Number of fraud transactions: ', cc_df['Class'].value_counts().compute()[1])

Number of non-fraud transactions:  284315
Number of fraud transactions:  492

3. What is the maximum amount in fraud transactions?

In [28]:
print('The largest fraud amount is: $', cc_df.loc[cc_df['Class']==1, 'Amount'].max().compute())

The largest fraud amount is: $ 2125.87